html, body {
  height: 100%;
  margin: -20px 0 0 0;
  color: black; 
}


a {
  text-decoration: none;
  color: inherit;
}


a:hover {
  color: #cc2e19;
}



/*****************
Header 
******************/

header {
  float: left;
  /*background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);*/
  /*background: #3f282d; */
  background: white;
  border-bottom: 2px solid #382428;
  padding: 25px 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}


/* Logo */

.logo {
  float: left;
  text-align: left;
  margin-left: 2%;
}


/* Navigation */

nav {
  float: right;
  text-align: right;
  margin-right: 2%;
}


nav ul {
  list-style: none;
  margin: 0;
  padding-top: 8px;
}


nav li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}


nav a {
  padding: 15px 10px;
}



/*****************
Section 
******************/

section {
  /*background: #472d33; */
  background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
  height: 100%;
  text-align: center;
}


section h1 {
  padding-top: 10%;
  font-family: 'Vollkorn', serif;
  font-size: 48px;
  color: #cc2e19;
}


section p {
  width: 500px;
  margin: -28px auto 32px;
  font-family: 'Muli', sans-serif;
  font-size: 40px;
  line-height: 1.35;
}




